body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button-container {
  display: flex;
  justify-content: space-between; /* This spreads the buttons across the full width of the container */
  align-items: center;
  padding: 10px; /* Optional: adds some padding around the buttons */
}

.vertical-button-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; /* Creates space between the buttons */
}
